/*  your css code here. If applicable */
body {
  margin: 0;
  padding: 0;
  background-color: #8fd0e8;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  background-color: #ffffff;
  width: 450px;
  padding: 20px;
}

.card h3 {
  margin-top: 0;
}

.highlight {
  color: red;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

li {
  padding: 6px;
}

.dark {
  background-color: #4b5c6b;
  color: white;
}

.light {
  background-color: #d9e1e8;
}

.pink {
  background-color: #f3a6b3;
}
